In [1]:
print("Hello World")

Hello World

### HELLO

#### HELLO

## HELLO

##### HELLO

In [2]:
Print("Hello World")

NameError: name 'Print' is not defined

In [3]:
print(Hello World)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4293340409.py, line 1)

In [4]:
print(10)

10

In [5]:
print(10.7)

10.7

In [7]:
name="Syed"
name

'Syed'

In [ ]:
### Variables
### 1. Name should not have spaces
### 2. It should start with A-Z,a-z,_
### 3. It should not start with numbers
### 4. Only special character allowed is _

In [8]:
1name="syed"
1name

SyntaxError: invalid decimal literal (288181671.py, line 1)

### Data Types

In [9]:
x=15.5
type(x)

float

In [10]:
y=10
type(y)

int

In [11]:
z=True
type(z)

bool

In [12]:
z=False
type(z)

bool

In [13]:
a="Name"
type(a)

str

In [14]:
x=10
x,type(x)

(10, int)

In [15]:
x,y=10,20.5
x,type(x),y,type(y)

(10, int, 20.5, float)

In [16]:
a="Syed Mohammed Wasiq"
age=19
a,type(a),age,type(age)

('Syed Mohammed Wasiq', str, 19, int)